body{
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    color: #EEE;
}

nav{
    display: flex;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #8C9568;
}

img {
    max-width: 100%;
}

label{
    display: block;
}

input, select{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 150Px;
    max-width: 50%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

h1{
    text-decoration: underline;
}

.user_element{
    padding: 0 0 0 20px;
}

.edit{
    width: 50px;
    text-align: center;
    color: #B0413E;
    font-size: x-large;
    font-weight: bold;
    padding: 10px 10px;
    margin: 10px 10px;
}

input[type="checkbox"]{
    margin-bottom: 0;
    box-sizing: border-box;
    width: 25px;
    max-width: 50%;
}