{% extends 'base.html.twig' %}

{% block title %}Hello to your new trip !{% endblock %}

{% block body %}
    <h1> Registration to a trip ! </h1>
    
    {% if app.user & app.trip %}

        {{ form_start(Camp) }}
            {{ form_widget(Camp) }}
            <button type="submit" class="btn"> Register </button>
        {{ form_end(Camp) }}

    {% endif %}

{% endblock %}
