<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Sortir.com{% endblock %}</title>

    <link rel ="icon" href=" {{ asset('img/eniLogo.png')}}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="//pull.cappuccicons.com/cpf.js"></script>

</head>
<body>
<div class = "container">
    <header>
        {% include("inc/nav.html.twig")%}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <div class="credit">&copy; {{ "now"|date("Y") }} Sortir.com - Benjamin, Thibaud, Charlyne</div>
    </footer>
</div>
</body>
</html>
