{% extends 'base.html.twig' %}

{% block title %}
    Change Password {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Change Password</h2>
    <div class="edit_psw">
    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    <button type="submit" class="btn">Validate</button>
    {{ form_end(editForm) }}
    </div>
{% endblock %}
