{% extends 'base.html.twig' %}

{% block body %}

    {# todo:afficher le formulaire de modification de profil #}
    <h1>Modify my Profile</h1>
{% endblock %}

{% block title %}
    Modify my Profile {{ parent() }}
{% endblock %}

