{% extends 'base.html.twig' %}

{% block title %} My Profile {{ parent() }} {% endblock %}

{% block body %}
    {# todo:afficher le profil de l'utilisateur connecté #}
    <h1>{{ app.user.firstname }}'s Profile</h1>
{% endblock %}